header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    padding: 56px 210px;
}

nav a{
    color: var(--1f1534-hyfen, #988daf);
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;

}
nav a:hover{
    color: black;
}
nav{
    display: flex;
    gap: 40px;
}
.but{
    width: 300px;
height: 56px;
color: white;
flex-shrink: 0;
border-radius: 55px;
background: #458FF6;
width: 197.753px;
height: 56px;
flex-shrink: 0;
}
.lorem{
    color: #000;
font-family: Mulish;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 116.667% */
display: flex;
justify-content: space-between;
align-items: center;
padding: 56px 210px;
}
p{
    color: #7D7987;
font-family: Mulish;
font-size: 21px;
font-style: normal;
font-weight: 300;
line-height: 32px; /* 152.381% */
}
h1{
    font-size: 50px;
}
.portal{
    color: #7D7987;
text-align: center;
font-family: Mulish;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 30px; /* 166.667% */
width: 952px;
}
h2{
    text-align: center;
}
 .container{
   margin: 0 auto;
    padding: 30px 100px;
    max-width: 1440px;
}
.pad{
    color: #000;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 700;border-radius: 20px;
background: #FFF;
justify-content: flex-start;
align-items: flex-start;
}  
.boxlar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    width:280.28px;
}
